<section class="login-section">
  <div class="login-container">
    <form action="" class="row">
      <div class="col-lg-12">
        <label for="userEmail" class="">Email</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Email">
      </div>

      <div class="col-lg-12">
        <label for="userPassword" class="">Password</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Password">
      </div>
    </form>
  </div>
</section>
