<section class="page__container">
  <div class="row" >
    <!-- Loader-->
    <div class="custom--loader__container">
      <img *ngIf="loadingHandler.isLoading$ | async" src="assets/img/loader3.gif" alt="loading">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center mb-5">
      <div [ngClass]="{'hide': loadingHandler.isLoading$ | async}">
      <div class="avatar__container">
        <img class="avatar__container" [src]="avatar" alt="fetching">
      </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center mb-5">
      <div [ngClass]="{'hide': loadingHandler.isLoading$ | async}">
        <p>{{displayName}}</p>

        <form action="" class="row entry-container" [formGroup]="updateLoggedUserForm" (ngSubmit)="updateLoggedUserSubmit()">
          <div class="col-12 mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input [ngClass]="{'is-invalid': isValid('name',updateLoggedUserForm)}"
              type="text" class="form-control entry-container__form__input"
              id="userName" formControlName="name">

            <!-- Display validation error-->
            <div *ngIf="isValid('name',updateLoggedUserForm)">
              <small class="text-danger">User name is Required</small>
            </div>
          </div>

          <div class="col-12 mb-3">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input [ngClass]="{'is-invalid': isValid('job',updateLoggedUserForm)}"
              type="text" class="form-control entry-container__form__input"
              id="jobTitle"  formControlName="job">

            <!-- Display validation error-->
            <div *ngIf="isValid('job', updateLoggedUserForm)">
              <small class="text-danger">Job Title is Required</small>
            </div>
          </div>

          <div class="col-12 mb-3 d-flex justify-content-between align-items-center">
            <button type="submit" class="btn custom--update__button
            custom--update__button--update" [disabled]="!updateLoggedUserForm.valid">
              Update User
            </button>

            <a class="btn custom--update__button custom--update__button--cancel">
              Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
