<section class="page__container">
  <!-- Add user button-->
  <div class="add__button-container">
    <a class="custom--add__button btn"
       data-bs-toggle="modal" data-bs-target="#addUserModal">Add</a>
  </div>

  <!-- List Users table-->
  <div  class="custom--loader__container" >
    <img *ngIf="loadingHandler.isLoading$ | async" src="assets/img/loader3.gif" alt="loading">
  </div>

  <div [ngClass]="{'hide': loadingHandler.isLoading$ | async}">
    <table class="user--custom-table table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of allListedUsers">
        <td>{{user.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td style="cursor: pointer">
          <!--  Show drop down when user clicks action button-->
          <div class="dropdown">
            <svg class="dropdown-toggle" id="parcelMenuItems" data-bs-toggle="dropdown" aria-expanded="false"
                 width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16 17.5C16.8284 17.5 17.5 16.8284 17.5 16C17.5 15.1716 16.8284 14.5 16 14.5C15.1716 14.5 14.5 15.1716 14.5 16C14.5 16.8284 15.1716 17.5 16 17.5Z"
                fill="black"/>
              <path
                d="M8 17.5C8.82843 17.5 9.5 16.8284 9.5 16C9.5 15.1716 8.82843 14.5 8 14.5C7.17157 14.5 6.5 15.1716 6.5 16C6.5 16.8284 7.17157 17.5 8 17.5Z"
                fill="black"/>
              <path
                d="M24 17.5C24.8284 17.5 25.5 16.8284 25.5 16C25.5 15.1716 24.8284 14.5 24 14.5C23.1716 14.5 22.5 15.1716 22.5 16C22.5 16.8284 23.1716 17.5 24 17.5Z"
                fill="black"/>
            </svg>
            <ul class="dropdown-menu shadow" aria-labelledby="parcelMenuItems">
              <li><a class="dropdown-item" (click)="getUserId()" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</a>
              </li>
              <li><a class="dropdown-item" (click)="deleteUserId()" >Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end custom--pagination__container">
          <li class="page-item" [ngClass]="{'disabled': (currentPage - 1) ===0}">
            <a class="page-link"  (click)="toPreviousPage()">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of pageNumbers" [ngClass]="{'active': currentPage===page}"><a class="page-link" (click)="toSelectedPage(page)">{{page}}</a></li>
          <li class="page-item" [ngClass]="{'disabled': (currentPage + 1) > totalPages}">
            <a class="page-link" (click)="toNextPage()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>


<!-- Add user Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content entry-container">
      <div class="modal-header">
        <h5 class="modal-title">Add New User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form action="" class="row" [formGroup]="addUserForm" (ngSubmit)="addUserSubmit()">
          <div class="col-12 mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input [ngClass]="{'is-invalid': name && name.invalid && name.touched}"
                   type="text" class="form-control entry-container__form__input" id="userName" formControlName="name">

            <!-- Display validation error-->
            <div *ngIf="name && name.invalid && name.touched">
              <small class="text-danger">User name is Required</small>
            </div>
          </div>

          <div class="col-12 mb-3">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input [ngClass]="{'is-invalid': job && job.invalid && job.touched}"
                   type="text" class="form-control entry-container__form__input" id="jobTitle" formControlName="job">

            <!-- Display validation error-->
            <div *ngIf="job && job.invalid && job.touched">
              <small class="text-danger">Job Title is Required</small>
            </div>
          </div>

          <div class="col-12 mb-3 d-flex justify-content-between align-items-center">
            <button  data-bs-dismiss="modal" type="submit" class="btn custom--add__button custom--add__button--add" [disabled]="!addUserForm.valid"> Add User </button>
            <a class="btn custom--add__button custom--add__button--close" data-bs-dismiss="modal">
              Close
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit user Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content entry-container">
      <div class="modal-header">
        <h5 class="modal-title ">Update User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form action="" class="row ">
          <div class="col-12 mb-3">
            <label for="editUserName" class="form-label">User Name</label>
            <input type="text" class="form-control entry-container__form__input" id="editUserName">
          </div>

          <div class="col-12 mb-3">
            <label for="editJobTitle" class="form-label">Job Title</label>
            <input type="text" class="form-control entry-container__form__input" id="editJobTitle">
          </div>

          <div class="col-12 mb-3 d-flex justify-content-between align-items-center">
            <a type="submit" class="btn custom--add__button custom--add__button--add"> Update User</a>
            <a  class="btn custom--add__button custom--add__button--close" data-bs-dismiss="modal">
              Close
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
