<section class="user-section__container">
  <div class="add__button-container">
    <button class="custom--add__button btn">Add</button>
  </div>
  <div>
    <table class="user--custom-table table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Job</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>...</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
