/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: "topMamaBold";
  src: local("topMama"), url("assets/fonts/G8321-Bold.ttf");
}

@font-face {
  font-family: "topMamaLight";
  src: local("topMama"), url("assets/fonts/G8321-Light.ttf");
}

@font-face {
  font-family: "topMama";
  src: local("topMama"), url("assets/fonts/G8321-Regular.ttf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "topMama", sans-serif;
  // font-weight: 400;
  line-height: 1.7;
  color: #220e08;
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
}

// Shared login and register css
.entry-section {
  background-image: url("~src/assets/img/backgroundImg.webp");
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #ef592a;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.entry-container {
  width: 30rem;
  height: 30rem;
  padding: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 125rem rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
}

.entry-container__form__input {
  height: 4rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.entry-container__form__button {
  background-color: #ef592a;
  padding: 1rem;
  width: 100%;
  font-family: "topMamaBold", sans-serif;
  color: White;
}

.entry-container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 5rem;
    width: 5rem;
  }
}
// End of shared entry styles
