<section class="landing-page__container">
  <div class="row landing-page__content__container" *ngFor="let n of numSeq(7); index as i">
    <div class="col-sm-12 col-md-6 col-lg-6 landing-page__img-container mb-3">
      <img class="img-fluid" src="assets/img/wheat-farm-min.jpg" alt="Fetching image">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
     <div>
       <p class="title__text">
         Wheat doing well!
       </p>
       <hr class="title__text--underline">
     </div>

      <div>
        <p>
          Land the plane circle back, or back of the net
          data-point big data. It's about managing expectations single wringable neck eat
          our own dog food so can you put it on my calendar?
        </p>
      </div>
    </div>
  </div>
</section>
